.offcanvas_sidebar, .modal-text{
    text-align: left!important;
}

.star-rating {
    font-size: 24px;
  }

.star-rating .fa-star {
    color: #ffc107; /* Yellow color for filled stars */
}


.navbar-toggler {

    border: 2px solid #ffffff!important; /* Change the border color */
  }

.navbar-toggler-icon {

    


  }